.thumbnail img{
	width:100%;
}

.thumbnail {
	padding:0%;
}

.thumbnail .caption-full {
	padding:9px;
}

#del{
	display:inline;
}

body{
	/* background: #222;  /* fallback for old browsers */ */
	background: #000000;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.x{
	margin-top:0px;
}

footer {
    padding: 3rem;
    color: #000;;
    background-color: #18CD40;
	/* margin-top:800px; */
	font-size:18px;
}

#fooIcons li a {
    color: #000;
	font-size:25px;
	margin-right:10px;
}
  
#fooIcons li a:hover {
    color: #fff;
    font-size: 2.25rem;
}

#powered {
    color: #000;
    margin-top: 2rem;
    text-align: center;
}

.footerLinks:a {
    color: rgb(0, 204, 255);
}

.footerLinks:visited {
    color: rgb(0, 204, 255);
}

.footerLinks:hover,
.footerLinks:active,
.footerLinks:focus {
color: rgb(143, 143, 143);
text-decoration: underline;
}

.poweredLinks {
    color: #fff;
	text-decoration: underline;
}

.poweredLinks:visited {
    color: #fff;
	text-decoration: underline;
}

.poweredLinks:hover,
.poweredLinks:active,
.poweredLinks:focus {
color: #000;
text-decoration: underline;
}


@media(max-width: 667px) {
	
	footer {
        text-align: center;
    }
}

.list-unstyled li {
    display: inline;
    font-size: 1.8rem;
}

.y{
	margin-top:75px;
}


.navbar-brand{
	font-family: 'Dancing Script', cursive;
	color:#fff;
	font-size:18px;
}

.navbar-right{
	color:#fff;
	font-size:18px;
	font:Bold Muli;
}

.navbar-left{
	color:#fff;
	font-size:18px;
	font:Bold Muli;
}

.navbar{
	background-color:#000;
	margin-bottom:0px;
}

.btn{
	border: 2px solid #18CD40;
    border-radius: 24px;
    background-color: #141414;
    opacity: 1;
    text-align: center;
    font: Bold 18px/25px Muli;
    letter-spacing: 0px;
    color: #18CD40;
}

.btn:hover{
	color:#fff;
}

.jumbotron{
	background-color:#000;
	color:#fff;
	
}

.xyz{
	background:#000;
}

.rounded-circle{
	border-radius:25%;
}